name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch sources
        uses: actions/checkout@v6
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Build
        env:
          ACM_GPG_PASSWORD: ${{ secrets.ACM_GPG_PASSWORD }}
          ACM_KEYSTORE_PASSWORD: ${{ secrets.ACM_KEYSTORE_PASSWORD }}
          ACM_REPO_USERNAME: ${{ secrets.ACM_REPO_USERNAME }}
          ACM_REPO_PASSWORD: ${{ secrets.ACM_REPO_PASSWORD }}
        run: |
          Xvfb :99 &
          export DISPLAY=:99
          gpg --quiet --batch --yes --decrypt --passphrase=$ACM_GPG_PASSWORD --output .github/acromere.keystore .github/acromere.keystore.gpg
          mvn deploy -B -U -V --settings .github/settings.xml --file pom.xml
